<div class="home-page__cards__main-section">
  <h1>Razones para migrar al <strong style="color: #8318b4;">mundo digital</strong></h1>
  <div class="home-page__big-cards-container">
    <div #card class="home-page__big-card left-card">
      <img
        src="./../../../../assets/images/home-page/reasons/barber-shop-gc2e36a474_1280.jpg"
      />
      <h3>Podrás ampliar tu alcance en el mercado</h3>
      <p>
        Estar presente en el mundo digital brinda la oportunidad de aumentar la
        visibilidad de la marca. Una estrategia de marketing digital efectiva
        puede ayudar a que más personas conozcan tu empresa, lo que puede
        resultar en un mayor reconocimiento y una mayor cuota de mercado.
      </p>
    </div>
    <div #card class="home-page__big-card right-card">
      <img
        src="./../../../../assets/images/home-page/reasons/startup-gc56a79161_1280.jpg"
      />
      <h3>Reducción de costos operativos</h3>
      <p>
        La digitalización de los procesos empresariales puede ayudar a reducir
        los costos operativos. La automatización de tareas repetitivas y la
        gestión de documentos en línea pueden ahorrar tiempo y recursos, lo que
        se traduce en una mayor eficiencia y reducción de gastos.
      </p>
    </div>
    <div #card class="home-page__big-card left-card">
      <img src="./../../../../assets/images/home-page/reasons/business-gad5186f5c_1280.jpg" />
      <h3>Mayor interacción y comunicación con los clientes</h3>
      <p>
        La migración al mundo digital facilita la interacción directa y
        constante con los clientes. A través de las redes sociales, correo
        electrónico, chat en vivo y otros canales digitales, las empresas pueden
        responder rápidamente a las consultas de los clientes, brindar soporte
        técnico y establecer relaciones duraderas.
      </p>
    </div>
    <div #card class="home-page__big-card right-card">
      <img
        src="./../../../../assets/images/home-page/reasons/analysis-g06485901b_1280.jpg"
      />
      <h3>Acceso a datos</h3>
      <p>
        El mundo digital proporciona una gran cantidad de datos e información
        sobre el comportamiento y las preferencias de los clientes. Al migrar al
        mundo digital, las empresas pueden recopilar y analizar estos datos para
        obtener conocimientos valiosos que les ayuden a tomar decisiones
        comerciales más informadas y a personalizar sus productos y servicios.
      </p>
    </div>
  </div>
</div>
