.contact-us__main-section{
    align-items: center;
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
    padding-bottom: 3rem;
}

.contact-us__main-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
}

.contact-us__form-section{
    display: flex;
    flex: 1 1;
    justify-content: center;
    margin: 3rem 0 3rem 0;
    min-width: 350px;
}

.contact-us__form-section form{
    display: flex;
    flex-flow: column nowrap;
    width: 70%;
}
/* 
.contact-us__form-section form input, button, textarea{
    margin-top:1rem;
    width: 100%;
    border:0;
    outline: none;
    box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
}
.contact-us__form-section form input, button{
    height:2rem;
}

.contact-us__form-section input{
    font-size: 1rem;
}




.contact-us__form-section form textarea{
    height: 5rem;
} */

.contact-us__info-section{
    align-items: center;
    display: flex;
    flex: 1 1;
    flex-flow: column nowrap;
    justify-content: center;
    min-width: 350px;
    width: 50%;

}

.contact-us__info-section h2{
    text-align: center;
}


.contact-us__info-section button{
    width: 50%;
}

.contact-us__map-container{
    align-self: center;
    width: 80%;
}

.contact-us__map-container iframe{
    width: 100%;
}



button{
    align-items: center;
    display: flex;
    justify-content: center;
}



button img{
    filter: invert(1);
    -webkit-filter: invert(1);
    width: 25px;
}





@media screen and (max-width:800px){
    .contact-us__info-section{
        margin-bottom: 3rem;
    }
}