<div #header class="header hidden">
    <div class="logo-section">
      <img #mainImage
        src="/assets/icons/logo/logo blanco.png"
      />
    </div>
    <div #navSection class="nav-section">
      <ul>
        <li><a  #link routerLink="">Inicio</a></li>
        <li><a  #link routerLink="servicios">Servicios</a></li>
        <li><a  #link routerLink="nosotros">Nuestra empresa</a></li>
        <li><a  #link routerLink="nosotros">Blog</a></li>
        <li><a  #link routerLink="contacto">Contáctanos</a></li>
      </ul>
    </div>
    <img #menuIcon class="menu-icon" src="./../../../assets/icons/shared/menu_FILL0_wght400_GRAD0_opsz48 (2).svg">
  </div>