.main-image-container{
    width: 100%;
    overflow: hidden;
}
.main-image-container img{
    width: 100%;
}


.about-us-main-section{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: white;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin-top:3rem;
}

.about-us-main-section h1{
    text-align: center;
}

.about-us__description-container{
    width: 100%;
    display: flex;
    flex-flow:row wrap;

}

.about-us__description-text-container{
    flex: 1 1;
    display: flex;
    align-items: center;
    min-width: 350px;
    justify-content: center;
}

.about-us__description-text-container p{
    width: 80%;
    opacity: 0;
    font-size: 1.1rem;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
}

.about-us__description-image-container{
    display: flex;
    justify-content: center;
    flex: 1 1;
    overflow: hidden;
    min-width: 350px;
}

.about-us__description-image-container img{
    width: 70%;
}



.about-us__mision-vision-section{
    background-color: rgba(237, 230, 216, 0.15);
}

.about-us__mision-vision-container{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    overflow: hidden;
}

.about-us__mision-vision-item{
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    /* top:-20rem; */
    justify-content: center;
    width: 35%;
    min-width: 350px;
    height: 20rem;
    margin: 0 1rem 0 1rem;
    transition:all 1s ease;
    -webkit-transition:all 1s ease;
    -moz-transition:all 1s ease;
    -ms-transition:all 1s ease;
    -o-transition:all 1s ease;
}


.about-us__mision-vision-item p{
    text-align: center;
}

.about-us__mision-vision-item img{
    width: 30%;
}

.about-us__values-container{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.about-us__item{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 300px;
    min-width: 300px;
    height:300px;
    margin: 1rem;
}

.about-us__item p{
    text-align: center;
}

.about-us__item img{
    width: 50%;
}