<shared-main-image></shared-main-image>

<div class="about-us-main-section">
  <h1>Te invitamos a conocernos un poco más</h1>
  <div class="about-us__description-container">
    <div class="about-us__description-text-container">
      <p #aboutUsText>
        En Backcode, estamos aquí para hacer que tu presencia en línea brille
        con luz propia. Aunque somos una empresa joven, nuestro enfoque fresco y
        nuestra pasión por la tecnología nos han llevado a crear soluciones
        digitales excepcionales para nuestros clientes. Nuestro equipo de
        expertos talentosos se compromete con la excelencia en cada proyecto.
        Nos esforzamos por ofrecer soluciones personalizadas que reflejen la
        identidad única de tu marca y te ayuden a alcanzar tus metas
        comerciales. Nos mantenemos al tanto de las últimas tendencias en
        tecnología, lo que nos permite ofrecer soluciones modernas y eficientes.
        <!-- En Backcode, trabajamos de cerca contigo para convertir tus ideas en una
        experiencia digital cautivadora. Nuestra comunicación transparente y
        nuestra atención personalizada garantizan que estés satisfecho con el
        resultado final. -->
      </p>
    </div>
    <div class="about-us__description-image-container">
      <img src="/assets/images/software-development-specialist.jpg" />
    </div>
  </div>
</div>

<div class="about-us-main-section about-us__mision-vision-section">
  <h1>Lo que nos mueve</h1>
  <div class="about-us__mision-vision-container">
    <div #misionVision class="about-us__mision-vision-item">
      <h3>MISIÓN</h3>
      <img src="./../../../../assets/icons/goal-2-svgrepo-com.svg" />
      <P
        >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum adipisci
        quis et numquam nostrum, praesentium</P
      >
    </div>
    <div #misionVision class="about-us__mision-vision-item">
      <h3>VISIÓN</h3>
      <img src="./../../../../assets/icons/goal-svgrepo-com.svg" />
      <P
        >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum adipisci
        quis et numquam nostrum, praesentium</P
      >
    </div>
  </div>
</div>

<div class="about-us-main-section">
  <h1>Nuestros valores</h1>
  <div class="about-us__values-container">
    <div class="about-us__item">
      <h3>Innovación</h3>
      <img
        src="./../../../../assets/icons/disruption-global-innovation-svgrepo-com.svg"
      />
      <p>
        Fomentamos la creatividad y la búsqueda constante de soluciones nuevas y
        más eficientes para nuestros clientes.
      </p>
    </div>
    <div class="about-us__item">
      <h3>Calidad</h3>
      <img
        src="./../../../../assets/icons/quality-supervision-svgrepo-com.svg"
      />
      <p>
        Nos esforzamos por ofrecer productos y servicios de alta calidad que
        cumplan con los estándares más exigentes de la industria.
      </p>
    </div>
    <div class="about-us__item">
      <h3>Ética</h3>
      <img src="./../../../../assets/icons/justice-svgrepo-com.svg" />
      <p>
        Actuamos con integridad y respeto en todas nuestras relaciones
        comerciales, manteniendo altos estándares éticos en todo momento
      </p>
    </div>
    <div class="about-us__item">
      <h3>Responsabilidad social</h3>
      <img src="./../../../../assets/icons/world-svgrepo-com.svg" />
      <p>
        Nos preocupamos por el impacto que tenemos en la sociedad y el medio
        ambiente, y nos esforzamos por ser una empresa responsable.
      </p>
    </div>
  </div>
</div>
