<div class="home-page__main-section high-description-cards-container">
  <h1>Conoce nuestros servicios</h1>
  <div class="services_list_container">
    <div class="service_item">
      <img
        src="/assets/images/software-developer-g2cba32827_1280.jpg"
      />
      <div class="service-description-wrapper">
        <h3>Desarrollo web</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus
          quaerat ipsa ratione qui non eos, aspernatur enim ab necessitatibus
          quis laudantium hic! Quasi, aliquam. Omnis maxime earum laborum eius
          quos?
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus
            quaerat ipsa ratione qui non eos, aspernatur enim ab necessitatibus
            quis laudantium hic! Quasi, aliquam. Omnis maxime earum laborum eius
            quos?
          </p>
      </div>
    </div>
    <div class="service_item">
        <img
          src="./../assets/images/istockphoto-840806804-640x640.jpg"
        />
        <div class="service-description-wrapper">
          <h3>Desarrollo móbil</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus
            quaerat ipsa ratione qui non eos, aspernatur enim ab necessitatibus
            quis laudantium hic! Quasi, aliquam. Omnis maxime earum laborum eius
            quos?
          </p>
          <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus
              quaerat ipsa ratione qui non eos, aspernatur enim ab necessitatibus
              quis laudantium hic! Quasi, aliquam. Omnis maxime earum laborum eius
              quos?
            </p>
        </div>
      </div>
      <div class="service_item">
        <img
          src="./../assets/images/female-developer.jpg"
        />
        <div class="service-description-wrapper">
          <h3>Desarrollo desktop</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus
            quaerat ipsa ratione qui non eos, aspernatur enim ab necessitatibus
            quis laudantium hic! Quasi, aliquam. Omnis maxime earum laborum eius
            quos?
          </p>
          <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus
              quaerat ipsa ratione qui non eos, aspernatur enim ab necessitatibus
              quis laudantium hic! Quasi, aliquam. Omnis maxime earum laborum eius
              quos?
            </p>
        </div>
      </div>
  </div>
</div>