<div class="home-page__main-section high-description-cards-container">
  <h1>Conoce nuestros servicios</h1>
  <div class="services_list_container">
    <div class="service_item">
      <img src="/assets/images/software-developer-g2cba32827_1280.jpg" />
      <div class="service-description-wrapper">
        <h3>Desarrollo web</h3>
        <p>
          Nuestro equipo de expertos en desarrollo web está aquí para convertir
          tu visión en una realidad en línea. Desde sitios web corporativos
          hasta plataformas de comercio electrónico sofisticadas, ofrecemos
          soluciones personalizadas que se adaptan a tus necesidades
          específicas. Con un enfoque centrado en el usuario, diseñamos y
          desarrollamos sitios web intuitivos, receptivos y visualmente
          atractivos que brindan una experiencia excepcional a tus visitantes.
          Desde la planificación inicial hasta el lanzamiento y más allá, te
          guiamos a lo largo de todo el proceso para asegurarnos de que tu
          presencia en línea sea un éxito.
        </p>
        <button class="request-service-button primary-button" (click)="openService('Desarrollo Web')">Solicitar servicio</button>
      </div>
    </div>
    <div class="service_item">
      <img src="./../assets/images/istockphoto-840806804-640x640.jpg" />
      <div class="service-description-wrapper">
        <h3>Desarrollo móbil</h3>
        <p>
          En la era móvil, es esencial que tu negocio tenga una presencia sólida
          en los distintos dispositivos. Nuestro equipo de desarrollo móvil se
          especializa en la creación de aplicaciones innovadoras y de alta
          calidad que funcionan en múltiples plataformas, como iOS y Android. Ya
          sea que necesites una aplicación para mejorar la productividad
          interna, establecer una conexión directa con tus clientes o lanzar una
          idea revolucionaria en el mercado, estamos listos para ayudarte.
          Utilizamos las últimas tecnologías y prácticas de desarrollo para
          garantizar una experiencia de usuario excepcional y un rendimiento
          óptimo.
        </p>
        <button class="request-service-button primary-button" (click)="openService('Desarrollo Móbil')">Solicitar servicio</button>
      </div>
    </div>
    <div class="service_item">
      <img src="./../assets/images/female-developer.jpg" />
      <div class="service-description-wrapper">
        <h3>Desarrollo desktop</h3>
        <p>
          El desarrollo de software de escritorio sigue siendo una opción sólida
          para muchas empresas que requieren aplicaciones potentes y
          personalizadas para sus operaciones diarias. Nuestro equipo de
          expertos en desarrollo de escritorio diseña y crea soluciones a medida
          que se ajustan perfectamente a tus necesidades comerciales únicas. Ya
          sea que necesites un software de gestión interna, una herramienta de
          análisis de datos avanzada o una aplicación de diseño potente, nos
          aseguramos de que tu aplicación de escritorio sea intuitiva, confiable
          y eficiente. Trabajamos en estrecha colaboración contigo para entender
          tus requisitos y ofrecerte una solución sólida y escalable.
        </p>
        <button class="request-service-button primary-button" (click)="openService('Desarrollo Desktop')">Solicitar servicio</button>
      </div>
    </div>
  </div>
</div>
