
.main-image-container{
    background-attachment: fixed;
    background-image: url('./../../../../assets/images/5134038.jpg');
    background-position: center bottom;
    background-size: cover;
    height:30rem;
    overflow: hidden;
    width: 100%;
}
