<div class="transparent-cards__main-section" style="background-color: white">
    <h1>¿Por qué trabajar de la mano con <strong style="color:#8318b4;">BackCode?</strong></h1>
    <div class="work_with_backc-code_items-section">
      <div #card class="work_with_backc-code_item">
        <h3>Personalización</h3>
        <img src="./../assets/icons/favorite_FILL0_wght400_GRAD0_opsz48.svg" />
        <p>
          Buscamos ofrecer una solución adecuada en base a las necesidades específicas de cada cliente.
        </p>
      </div>
      <div #card class="work_with_backc-code_item">
        <h3>Seguridad</h3>
        <img src="./../../../../assets/icons/security-badge-svgrepo-com.svg" />
        <p>
          En todos nuestros proyectos aplicamos metodologías y prácticas que garantizan un óptimo nivel de seguridad.
        </p>
      </div>
      <div #card class="work_with_backc-code_item">
        <h3>Calidad</h3>
        <img src="./../assets/icons/quality-supervision-svgrepo-com.svg" />
        <p>
          Como uno de nuestros valores y motivaciones principales, la calidad es algo 
          que se encuentra presente en todos nuestros servicios y proyectos.
        </p>
      </div>
    </div>
  </div>