.main-services-section{
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    padding: 3rem 0 3rem 0;
}

.main-services-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 80%;
}

.main-services-service{
    background-color: white;
    box-shadow: 0px 0px 1px black;
    cursor:pointer;
    height:20rem;
    margin: 1rem .2rem 0 .2rem;
    min-width: 350px;
    overflow: hidden;
    width: 31%;
}

.main-services-service img{
    height: 80%;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition: transform 2s;
    width: 110%;
}

.main-services-service h3{
    text-align: center;
}