<div class="main-services-section">
    <h1>Nuestros servicios</h1>
    <div class="main-services-container">
        <div class="main-services-service">
            <img #serviceImage src="/assets/images/software-developer-g2cba32827_1280.jpg">
            <h3>Desarrollo web</h3>
        </div>
        <div class="main-services-service">
          <img #serviceImage src="/assets/images/istockphoto-840806804-640x640.jpg">
          <h3>Desarrollo Móbil</h3>
      </div>
      <div class="main-services-service">
        <img #serviceImage src="/assets/images/female-developer.jpg">
        <h3>Desarrollo Desktop</h3>
    </div>
    </div>
    </div>