html{
  scroll-behavior: smooth;
}

body {
  background-color: rgba(237, 230, 216, 0.15);

  /* background-color: azure; */
  margin: 0;
  padding: 0;
}
/* 
*{
  font-family: 'Playfair', serif !important;
} */

h1, h2, h3, h4, h5{
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
}

p{
  font-family: Arial, Helvetica, sans-serif;
}


.home-page__main-section{
  align-items: center;
  color: rgb(100, 100, 100);
  display: flex;
  flex-flow: row wrap;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  padding: 3rem 0 3rem 0;
  width: 100%
}

.main-image-container{
  width: 100%;
  height:30rem;
  overflow: hidden;
}

.main-image-container img{
  width: 100%;
}



.primary-button{
  background-color: #8318b4;   /*  #185F99  */
  line-height: 2rem;
  border-radius: 25px;
  padding: 0 1.2rem 0 1.2rem;
  font-size: 1rem;
  cursor:pointer;
  color:#fff;
  border:0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.primary-button:hover{
  background-color: #8318b4;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
