<footer>
    <div class="footer-main-container primary-container">
      <div class="footer-main-container-section">
        <img
        src="./../../../assets/icons/logo/MORADO V1.png"
      />
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et delectus
          ipsam odio culpa! Quae, odio assumenda aut dolor vitae, deserunt.
        </p>
      </div>
      <div class="footer-main-container-section">
        <h3>Sobre nosotros</h3>
          <div routerLink="/nosotros">Sobre nosotros</div>
          <div routerLink="/servicios">Nuestros servicios</div>
          <div routerLink="/contacto">Contáctanos</div>
      </div>
      <!-- <div class="footer-main-container-section">
          <h5>Servicios</h5>
        <ul>
          <li>Servicio 1</li>
          <li>Servicio 2</li>
          <li>Servicio 3</li>
        </ul>
      </div> -->
      <div class="footer-main-container-section">
        <h3>Contáctanos</h3>
          <div>Acá ponemos alguna dirección</div>
          <div>marketing@backcode.com</div>
          <div>+51-946-845-643</div>
      </div>
    </div>
    <hr />
    <div class="footer-secondary-container primary-container">
      <div class="footer-secondary-copyright-section footer-secondary-section">
        <p>
          © Backcode 2023 - Todos los derechos reservados 
        </p>
      </div>
      <div
        class="footer-secondary-social-networks-section footer-secondary-section"
      >
        <a href="https://www.facebook.com/people/Backcode/100092836505646/" target="_blank" class="fa fa-facebook social-network-icon"></a>
        <a href="https://twitter.com/TheBackCode" target="_blanck" class="fa fa-twitter social-network-icon"></a>
        <a href="#" class="fa fa-youtube social-network-icon"></a>
        <a href="#" class="fa fa-linkedin social-network-icon"></a>
      </div>
    </div>
  </footer>
  